.player-card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--Light-grey-2);
  border-radius: 10px;
  flex-grow: 1;
  padding: 10px 10px;
  z-index: 5;
  max-width: 200px;
  position: relative;
  transition: all 0.2s ease-in;
}

.player-card-wrapper.active {
  background-color: var(--Orange);
  justify-content: space-between;
}

.player-card-wrapper::after {
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-color: none;
  position: absolute;
  top: -12%;
  left: 48%;
  transform: rotate(45deg);
  z-index: 1;
}

@media (max-width: 850px) {
  .player-card-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .player-card-wrapper {
    flex-direction: row;
    width: 90%;
    max-width: none;
  }
}

.player-card-wrapper.active::after {
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--Orange);
  position: absolute;
  top: -12%;
  left: 48%;
  transform: rotate(45deg);
  z-index: 1;
  transition: all 0.2s ease-in;
}

@media (max-width: 850px) {
  .player-card-wrapper.active::after {
    top: -7%;
  }
}

.player-text {
  color: var(--Grey-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  flex-grow: 1;
}

.player-text.active {
  color: var(--White);
}

.player-score.active {
  color: var(--White);
}

.player-score {
  color: var(--Dark-Blue);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 419px) {
  .player-score {
    font-size: 24px;
    line-height: 25px;
  }
}
