.buttons-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.restart-btn {
  background-color: var(--Orange);
  height: 52px;
  padding: 5px 20px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: var(--White);
  margin-right: 10px;
  cursor: pointer;
}

.restart-btn:hover {
  background-color: var(--Orange-hover);
}

.new_game-btn {
  background-color: var(--Light-grey);
  height: 52px;
  padding: 5px 20px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: var(--Dark-Blue);
  cursor: pointer;
}

.new_game-btn:hover {
  background-color: var(--Light-grey-hover);
  color: var(--White);
}

.restart_btn {
  background-color: var(--Orange);
  color: var(--White);
  width: 264px;
  height: 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;

  margin-right: 10px;
}
.restart_btn:hover {
  background-color: var(--Orange-hover);
}
.setup_btn {
  background-color: var(--Light-grey-2);
  width: 264px;
  height: 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}
.setup_btn:hover {
  background-color: var(--Light-grey-hover);
  color: var(--White);
}

@media (max-width: 800px) {
  .setup_btn {
    width: 50%;
  }
  .restart_btn {
    width: 50%;
    margin-right: 10px;
    padding: 0px 5px;
  }

  .buttons-wrapper.final {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .setup_btn {
    width: 100%;
  }

  .restart_btn {
    width: 100%;
    margin-right: 10px;
    padding: 0px 5px;
  }

  .buttons-wrapper.final {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .restart-btn {
    width: 90%;
    margin-bottom: 10px;
  }
  .new_game-btn {
    width: 90%;
  }
}
