/* --------wrapper---------------------------------------------------------------------- */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
  background-color: var(--Dark-Blue);
}
